<div class="row">
  <div class="col-xs-5">
    <div class="panel">
      <div class="panel-heading">
        <p>{{introTxt}}</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <video id="video" width="320" height="240" autoplay></video>
          </div>
          <div class="col-xs-3">
            <button class="button" id="snap" (click)="snapPicture()">Snap Photo</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <canvas id="canvas" width="640" height="480"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


